# RadiationMap Data Loader
This python script loads countrate data from the pre-downloaded csv files into a postgre sql database.
1. Load CSV file into Pandas Dataframe
2. Extract LOCATION_NAME, SAMPLE COLLECTION TIME, and all of the

## Import Libraries

In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd
import sqlalchemy as sqla

## Read CSV File into Pandas Dataframe

In [2]:
df = pd.read_csv('./Data/CA_SAN_DIEGO_2006.csv')
df.head()

,LOCATION_NAME,SAMPLE COLLECTION TIME,DOSE EQUIVALENT RATE (nSv/h),GAMMA COUNT RATE R02 (CPM),GAMMA COUNT RATE R03 (CPM),GAMMA COUNT RATE R04 (CPM),GAMMA COUNT RATE R05 (CPM),GAMMA COUNT RATE R06 (CPM),GAMMA COUNT RATE R07 (CPM),GAMMA COUNT RATE R08 (CPM),GAMMA COUNT RATE R09 (CPM),STATUS
0,CA: SAN DIEGO,06/12/2006 19:02:00,NaN,151.0,89.0,35.0,36.0,136.0,799.0,3359.0,699.0,APPROVED
1,CA: SAN DIEGO,06/12/2006 20:03:00,NaN,152.0,94.0,36.0,36.0,145.0,832.0,3380.0,713.0,APPROVED
2,CA: SAN DIEGO,06/12/2006 21:03:00,NaN,155.0,94.0,35.0,33.0,151.0,849.0,3433.0,732.0,APPROVED
3,CA: SAN DIEGO,06/12/2006 22:03:00,NaN,156.0,97.0,38.0,35.0,154.0,861.0,3462.0,737.0,APPROVED
4,CA: SAN DIEGO,06/12/2006 23:03:00,NaN,161.0,98.0,38.0,37.0,158.0,883.0,3537.0,756.0,APPROVED

## Create Time, Counts, and Location lists

In [3]:
time = list(df['SAMPLE COLLECTION TIME'])
counts = list(df.iloc[:,3:11].sum(axis=1))
location = list(df['LOCATION_NAME'])

## Create dataframe subset df1
A dictionary with 4 keys is created prior to conerting into dataframe.

In [6]:
data = {'date_time': time,
        'location':location,
        'counts':counts}

df_input = pd.DataFrame(data)
df_input.head()

             date_time       location  counts
0  06/12/2006 19:02:00  CA: SAN DIEGO  5304.0
1  06/12/2006 20:03:00  CA: SAN DIEGO  5388.0
2  06/12/2006 21:03:00  CA: SAN DIEGO  5482.0
3  06/12/2006 22:03:00  CA: SAN DIEGO  5540.0
4  06/12/2006 23:03:00  CA: SAN DIEGO  5668.0

## Create SQLAlchemy engine to connect to PosgreSQL database

In [ ]:
flavor = 'postgresql'
username = 'postgres'
password = '156488'
hostname = 'localhost'
port = '5432'
database_name = 'RadiationMap'
    
# Create the engine to connect to the PostgreSQL database
engine = sqla.create_engine('{}://{}:{}@{}:{}/{}'.format(flavor,username,password,hostname,port,database_name))

## Insert Dataframe into PostgreSQL Database

In [ ]:
# Write data into the table in PostgreSQL database
df1.to_sql('gamma_counts',engine, if_exists='append', index=False)

## Query Data from gamma_counts table

In [34]:
my_query = '''SELECT date_time, location, counts 
              FROM gamma_counts 
              WHERE date_time > '2006-07-01'; '''

df_output = pd.read_sql(my_query, engine)
df_output.head()

            date_time       location  counts
0 2006-07-01 00:24:00  CA: SAN DIEGO  5935.0
1 2006-07-01 01:24:00  CA: SAN DIEGO  6005.0
2 2006-07-01 02:24:00  CA: SAN DIEGO  6086.0
3 2006-07-01 03:25:00  CA: SAN DIEGO  6099.0
4 2006-07-01 04:25:00  CA: SAN DIEGO  6166.0

## Plot Data from Output Query

In [4]:
# data = [go.Scatter(x=time,
#                    y=counts,
#                    mode='markers+lines',
#                    name = df['LOCATION_NAME'].unique()[0])]
# layout = go.Layout(title = 'My first Plot',
#                    xaxis_title = 'Date/Time',
#                    yaxis_title = 'Gamma Count Rate')

In [5]:
# fig = go.Figure(data=data,layout=layout)
# pyo.plot(fig, filename='RadiationMap.html')